.login-form{
display: flex;
flex-direction: column;
width: 50%;
border: 2px solid black;
border-style: inherit;
}
.login-form input{
    margin-bottom: 20px;
   font-size: 1.5em;
   border-radius: 10px;
   
}
.login-form input[type=submit]{
    background-color: blanchedalmond;
    width: 50%;
    border-style: none;
   
    
}
body{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background-color: dimgray;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
}
button{
    border-style: none;
    border-radius: 10px;
    
    
}